version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
    commit-message:
      # Use fix prefix so dependabot PRs trigger patch releases
      prefix: fix
      prefix-development: fix
      include: scope